#plus {
  float: right;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #50d8d7;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: white;
}

#participation {
  height: 25px;
  width: 50px;
  background-color: #547aa5;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: white;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#participation:hover {
  background-color: #347efd;
  /* border:none; */
}

#plus:hover {
  background-color: #347efd;
  /* border:none; */
}
li {
  list-style: none;
}

.plusDiv {
  align-content: center;
  height: 6vh;
  background-color: #e3f2fd;
  padding: 10px;
  border-bottom: solid 1px #c5c5c5;
  overflow: hidden;
}

.roomInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  border-color: #ceddf8;
}

.outerContainer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #1A1A1D;*/
  background-image: url(C:\Users\82108\Desktop\chat\project_chat_application\client\src\icons\main2.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.myRoomText {
  font-weight: bold;
  font-size: 20px;
}

.roomContainer {
  align-items: center;
  height: 60%;
  width: 15%;
  background: #ffffff;
  justify-content: space-between;
  border-right: #c5c5c5 2px solid;
  border-radius: 8px 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 40%;
}

.chatrooms {
  /* height: 345px; */
  height: 70%;

  overflow-y: auto;
}

@media (min-width: 500px) and (max-width: 500px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  /* 창이 줄어들었을 때, 대화창만 보이게 함 */
  .roomContainer,
  .topContainer {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
